body {
}

/* in a <style> block in your layout or page */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* sets background to white */
    -webkit-text-fill-color: #111827; /* sets text color */
}
